h1, h2, h3, h4, h5, h6 {color:#9E3942;}

hr { 
  display: block;
  border-width: 1px;
  border-color: lightblue;
} 

header {
  font-family: Papyrus, Lucida Handwriting, cursive, Trebuchet MS;
  font-size: 12px;
}

footer {
  font-family: serif;
  font-size: 12px;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f1f1f1;
  font-family: monospace;
  font-size: 12px;
  line-height: 190%;
}

code {
  font-family: monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
} 

table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 2px;
  font-family: monospace;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 2px;
  color: crimson;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 50px;
	font-family: Verdana, Helvetica;
}